[run]
source = .
branch = True
omit =
    .idea/*
    .git/*
    .pytest_cache/*
    .tox/*
    */settings/*
    */tests/*
    */migrations/*
    **/*_test.py
    **/*_tests.py
    */manage.py
    */wsgi.py
    scripts/*
    ./manage.py
    ./setup.py

[html]
directory = build/reports/htmlcov

[xml]
output = build/reports/coverage.xml
